# Created by https://www.toptal.com/developers/gitignore/api/xamarinstudio
# Edit at https://www.toptal.com/developers/gitignore?templates=xamarinstudio

### XamarinStudio ###
.vs/
bin/
obj/
*.userprefs
.packages

# End of https://www.toptal.com/developers/gitignore/api/xamarinstudio
